.page {
  display: flex;
  flex-direction: column;
  gap: 64px;
}

.text {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.title {
  font-size: 28px;
  font-weight: bold;
  line-height: 1.29;
  letter-spacing: -0.29px;
  text-align: center;
  color: #fff;
}

.description {
  font-weight: 500;
  line-height: 1.63;
  text-align: center;
  color: #fff;
}

.try {
  padding: 18px 66px;
  border-radius: 10px;
  box-shadow: 0 8px 0 0 rgba(0, 0, 0, 0.15);
  background-color: #5e54a4;
}

.try-text {
  font-size: 15px;
  font-weight: bold;
  line-height: 1.73;
  letter-spacing: 0.27px;
  text-align: center;
  color: #fff;
}

span {
  font-weight: normal;
}

.signing {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

@media screen and (min-width: 1440px) {
  .page {
    flex-direction: row;
    align-items: center;
    gap: 45px;
  }

  .title {
    font-size: 50px;
    line-height: 1.1;
    letter-spacing: -0.52px;
    text-align: left;
  }

  .description {
    letter-spacing: normal;
    text-align: left;
  }

  .signing {
    width: 100%;
  }
}
