body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 88px 24px 68px;
  background-image: url(/images/bg-intro-mobile.png);
  background-color: #ff7979;
}

@media screen and (min-width: 950px) {
  body {
    padding: 0 100px;
  }
}

@media screen and (min-width: 1440px) {
  body {
    padding: 0 165px;
  }
}
